.jumbotron {
	background: url(/assets/Wedding-Flowers.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	display: flex;
	align-items: center;
	min-height: 600px;
}