<div class="jumbotron">
  	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h1>Usted dispone de X campos</h1>
				<h3>Favor confirmarnos su asistencia</h3>
				<span class="glyphicon glyphicon-ok"></span><span>Sí asisteré</span>
				<span class="glyphicon glyphicon-remove"></span><span>No asistiré</span>
			</div>
		</div>
	</div>
</div>
